<header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <strong>Email: </strong>sergiocastrosola@hotmail.com
                    &nbsp;&nbsp;
                    
                </div>

            </div>
        </div>
    </header>
    <!-- HEADER END-->
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">

                    <img src="assets/img/logo.png" />
                </a>

            </div>

            <div class="left-div">
                <div class="user-settings-wrapper">
                    <ul class="nav">

                        <li class="dropdown">
                           
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a (click)="toggleHighlight(1);" [ngClass]="{'menu-top-active': highlightedDiv === 1}" routerLink="/panel/inicio">inicio</a></li>
                            <li><a *ngIf="rol == '1'" (click)="toggleHighlight(2);" [ngClass]="{'menu-top-active': highlightedDiv === 2}" routerLink="/panel/newpaciente">Crear paciente</a></li>
                            <li><a (click)="toggleHighlight(3);" [ngClass]="{'menu-top-active': highlightedDiv === 3}" routerLink="/panel/pacientes">Pacientes</a></li>
                            <li><a (click)="toggleHighlight(4);" [ngClass]="{ 'menu-top-active': highlightedDiv === 4}" routerLink="/panel/guia">Guía de usuario</a></li>
                            <li><a  (click)="logout();" routerLink="/logout">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>