	<div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Manual de usuario </h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                  <p>Para disfrutar de todas las posibilidades que ofrece DCA Control debes seguir estos simples pasos:</p>
                  <p>1. Ve a la pestaña  <a routerLink="/panel/newpaciente"> Crear Paciente </a> e introduce los datos. Es importante que autorices a un doctor que ya esté presente en la plataforma para que evalúe al paciente. </p>
                  <p>2. Descarga la aplicación DCA Control, disponible para Android e IOS, e inicia sesión con el paciente que acabas de crear.</p>
                  <p>3. Si dispones de una Xiaomi Miband 2, vincúlala al smartphone y comienza a monitorizar.</p>
                  <p>En caso de que se detecte un cambio brusco del ritmo cardíaco, se avisará vía SMS al teléfono asociado a tu perfil.</p>
                  <p>Desde la aplicación se puede gestionar los tratamientos asociados al paciente, a través del envío de notificaciones cuando sea la hora de la dosis.</p>
                  <p>Consulta números de emergencia desde la aplicación de manera fácil y rápida.</p>
                </div>
                <div class="col-md-4">
                   <img src="assets/img/xiaomi.jpg" style="max-width: 100%"/>
                </div>
            </div>
        </div>
    </div>