	<div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Crear paciente </h4>

                </div>

            </div>
            <div class="row">
							<form #newpacienteform="ngForm" (ngSubmit)="crear(sip.value, password.value,passwordd.value, nombre.value, apellidos.value)">
                     <h4>Inicia sesión con tu cuenta de <strong>Health control  :</strong></h4>
                    <br />
                     <label>SIP : </label>
                        <input type="text" class="form-control"  id="sip"  #sip />
                        <label>Contraseña :  </label>
                        <input type="password" class="form-control"  id="password"  #password />
                         <label>Repite la contraseña :  </label>
                        <input type="password" class="form-control"  id="passwordd"  #passwordd />
                        <label>Nombre :  </label>
                        <input type="text" class="form-control"  id="nombre"  #nombre />
                        <label>Apellidos :  </label>
                        <input type="text" class="form-control"  id="apellidos"  #apellidos />
                        <label>Médico:</label>
                        <select *ngIf="iniciado" class="form-control" id="medico"  (change)="onChange($event.target.value)" >
                            <option value ="0">--</option>
                            <option   *ngFor="let medico of medicos | keys" value="{{medico.value.id}}">{{medico.value.nombre}}</option>
                          </select>
                        <hr />
                        <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-user"></span> Crear paciente</button>
                  </form>
            </div>
        </div>
    </div>